
/* 清样式，如果是项目中，不推荐使用通配符来清样式，建议使用标签清样式，通配符清样式会增加页面压力 */
*{
    margin:0;
    padding:0;
}

button {
    border-radius: 5px;
}

li {
    list-style: none;
}

body{ 
    background-image: url(../images/界面背景/1.jpg);
    font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif; 
    text-align: center; 
    color: black; 
} 


header{ 
    width: 902px; 
    height: 203px; 
    padding-top: 0px; 
    margin: 0px auto; 
    } 


header h1 { 
    float:left; 
    font-size:2.9em; 
    padding-top:80px; 
    padding-left:40px; 
    font-family:Arial,verdana, sans-serif; 
    color: rgba(88, 255, 6, 1);
    text-shadow: 0 0 10px;
    font-weight:bolder; 
    letter-spacing:-1px; 
    } 

   
.back {
    width: 110px;
    height: 40px;
    margin-top: 150px;
    margin-left: 530px;
    font-size: 20px;
    font-weight: 700;
    background-color: #58ff06;
    border: 1px solid #37210c;
    text-shadow: 0 0 2px;
} 

.box{
    width: 902px;
    height:325px;
    margin:0 auto;
}

.box .firstul .firstli label {
    float: left;
    width: 145px;
    font-weight:700; 
    font-size: 0.8em; 
    color: #ecf9ff; 
    text-shadow: 0 0 2px;
}


/* 清除li样式 */
.box .firstul .firstli{
    list-style: none;
}
/* 将ul相对定位，目的是让内容的div绝对定位时相对ul定位，否则会相对body定位 */
/* ul弹性盒，目的是让li横着排，也可以将li浮动或者转行内块 */
.box .firstul{
    position:relative;
    display:flex;
}
/* 将三个li宽度平分，高度60px */
.box .firstli{
    flex:1;
    height:60px;
}
/* input隐藏 */
.firstli input{
    display:none;
}
/* 设置input的下一个节点label的样式 */
.firstli input+label{
    display:block;
    height:100%;
    background:#37210c;
    text-align: center;
    line-height: 60px;
}
/* 设置div内容的基础样式 隐藏内容div*/
.firstli input+label+div{
    display:none;
    position: absolute;
    left:0;
    top:50px;
}
/* input选中状态时候对应的label的样式 */
.firstli input:checked+label{
    background:blue;
    color:red;
}
/* input选中时候显示对应的div */
.firstli input:checked+label+div{
    display:block;
}


.firstd1 aside a{
    height: 137px;
    font-size: 18px;
    font-weight: 700;
}

.board .board_li {
    height: 149px;
    line-height: 149px; 
}

.board .board_a {
    font-size: 30px; 
}

.board{ 
    float: left;
    list-style: none;
    height: 300px;
    width: 147px;
    margin-top: 20px;
    background-color: rgba(13, 184, 164, 0.62);
} 

.board li{
    height: 74px;
    line-height:74px; 
    border-bottom:1px solid #07E0FC;  
} 

.board a {
    color: black; 
    font-size: 18px;  
    font-weight:700; 
    text-decoration: none;
}

#firstd2{ 
    margin:0 auto; 
    width:902px; 
    height:290px; 
    clear:both; 
} 

.firstd2 .abox {
    width: 725px;
    height: 300px;
    margin-top: 20px;
    margin-left: 170px;
    border: 1px #37210c solid;
    background-color: #088589a3;
    /* 默认对话框隐藏 */
    display: none;
}


.firstd2 .abox p {
    width:630px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 90px;
}


.firstd2 .abox p span {
    float: left;
    height: 32px;
    line-height: 30px;
}

.firstd2 .abox input {
    float: left;
    display: block;
    width: 350px;
    height: 30px;
    margin-top: -2px;
    font-size: 25px;
    font-weight: 700;
    background: #1cff00a6;
    border: 1px #37210c solid;
}

.firstd2 .abox button{
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #58ff06a1;
    border: 1px #37210c solid;
    margin-top: 7px;
    margin-left: 35px;
}

.firstd2 .abox .p_one {
    margin-top: 25px;
}

.firstd2 .abox .p_four {
    width: 60px;
}

.og_section{ 
    float: left;
    width: 730px;
    height: 300px;
    margin-top: 20px;
    margin-left: 19px;
    background-color: #088489a8;
    text-align: left;
} 

.og_section div {
    float: left;
}

.og_section .section_one {
    width: 180px;
    height: 190px;
    margin-top: 50px;
    margin-left: 10px;
}

.og_section .section_two {
    width: 520px;
    height: 250px;
    margin-left: 15px;
    margin-top: 10px;
}

.og_section .section_two p {
    font-size: 15px;
    font-weight: 700;
}

.og_section .section_two div {
    font-size: 10px;
}

.rentel_record div{
    width: 200px;
    height: 125px;
    text-align: center;
    background: #a6ffde;
    border-radius: 10px;
    margin-top: 17px;
    margin-left: 33px;
}

.rentel_record p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.rentel_record button{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}

.borrowed {
    display: none;
}

.hide {
    width: 580px;
    height: 195px;
    position: absolute;
    margin-top: 53px;
    margin-left: 238px;
    background-color: #a6ffde;
    border: 1px black solid;
    border-radius: 20px;
    /* 默认对话框隐藏 */
    display: none; 
}


.hide p {
    width: 510px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 35px;
    margin-top: -5px;
}

.hide span {
    float: left;
    font-size: 1.5em;
    color: #000;
    height: 30px;
    line-height: 30px;
}

.hide input {
    display: block;
    float: left;
    width: 35px;
    height: 26px;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: 700;
}

.hide .name {
    width: 150px;
}

.hide button {
    float: left;
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #58ff06a1;
    border: 1px #37210c solid;
    margin-left: 105px;
}

.hide .goods_name {
    margin-top: 15px;
}

.firstd3 {
    margin-top: 50px;
    font-weight: 700;
}
.firstd3 .schinfor{
    margin-top: 10px;
    background-color: rgba(177, 112, 50, 0.56);
}

.firstd4 {
    margin-top: 50px;
    font-weight: 700;
}


.firstd5 li {
    float: left; 
    margin-top: 30px;
    margin-left: 20px;
}

.firstd5 div {
    float: left;
    height: 110px;
    border: 1px solid black;
    padding: 15px 15px;
    background-color: #ffffffb8;
}

.firstd5 div .p1 {
    width: 55px;
    margin-left: 20px;
    font-size: 10px;
    color: #674848;
}

.firstd5 div .p2 {
    margin: 10px auto;
}

.firstd5 div button {
    margin: 10px auto;
}

footer { 
    width:902px; 
    height: 85px; 
    clear:both; 
    margin-top: 10px; 
    color:#F9FF0D; 
    font-weight:700; 
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom: 0px; 
    padding-top: 15px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    } 


footer p{ 
    font-size:0.7em; 
    font-family:arial; 
    font-weight:700; 
    line-height: 1.4em; 
    color:#F9FF0D; 
    padding:25px 0 0 10px; 
    text-align:center; 
    } 

footer hr {
    width: 100%;
}
