*{
    margin: 0;
    padding: 0;
}

body{ 
    background-image: url(../images/界面背景/main.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color:#eceddd; 
    font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif; 
    text-align: center; 
    color: #333333; 
} 


div{ 
    width: 902px; 
    height: 203px; 
    line-height: 203px;
    margin: 0 auto; 
    margin-top: 50px;
    color: #000000; 
    font-size: 20px;
    font-weight: 700;
    } 

div span {
    font-size: 3em;
    color:#00ffd2;
    text-shadow: 0 0 10px;
}

div .image2 {
    width: 900px;
    margin-top: 50px;
    opacity: 0.8;
}

.refurbish {
    width: 165px;
    height: 55px;
    background-color: #37210c;
    color: #00c2fffa;
    text-shadow: 0 0 2px;
    font-size: 25px;
    font-weight: 700;
    border: 1px #00f1fff2 solid;
    margin-top: 10px;
}

.hide {
    width: 500px;
    height: 160px;
    position: absolute;
    margin-top: 140px;
    margin-left: 400px;
    background-color: #a6ffde;
    border: 1px black solid;
    border-radius: 20px;
    /* 默认对话框隐藏 */
    display: none;
}


.hide p {
    width: 450px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: -5px;
}

.hide span {
    float: left;
    font-size: 1.5em;
    color: #000;
    height: 30px;
    line-height: 30px;
}

.hide input {
    float: left;
    width: 35px;
    height: 26px;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: 700;
}

.hide button {
    float: left;
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: #58ff06a1;
    border: 1px #37210c solid;
    margin-top: 3px;
    margin-left: 70px;
}

.hide .order_number {
    margin-top: 22px;
}

ul{ 
    list-style:none; 
    width: 902px;
    margin: 0px auto;
    width:900px; 
    } 
ul li{ 
    text-align:center; 
    float:left; 
    width:300px; 
    } 
ul li a{ 
    display:block; 
    background-color:#37210c; 
    border-right:1px solid #fff; 
    line-height:2.5em; 
    margin-right:0px; 
    padding:8px 14px 8px 14px; 
    color: #00c2fffa; 
    text-shadow: 0 0 2px;
    border: 1px #4a7984  solid;
    font-weight:normal; 
    font-size: 0.8em; 
    text-decoration: none; 
    } 


li a:hover{ 
    color: #000; 
    background-color:#ecf9ff; 
    } 

/* index1.css */
.item {
    height: 400px;
    background-color: #0089ff4f;
    margin: 30px auto;
}

.item .itempic {
    float: left;
    overflow: hidden;
    width: 40%;
    height: 70%;
    margin-top: 7%;
    margin-left: 5%;

}

.item .itemsId {
    height: 15%;
    font-size: larger;
    color: #0006ff;
    text-shadow: 0 0 2px;
}

.item .name {
    height: 15%;
    font-size: larger;
}

.item .belong {
    height: 0%;
    font-size: larger;
}

.item .mark .bt {
    margin-top: 115px;
    margin-left: 20px;
}

/* index2.css */
.item {
    height: 400px;

}

.item .itempic {
    float: left;
    width: 40%;
    height: 70%;
    margin-top: 7%;
    margin-left: 5%;
    font-size: 25px;
}


/* 共同的样式 */
.item .mark button {
    width: 100px;
    height: 50px;
    margin-top: 105px;
    font-size: 25px;
    font-weight: 700;
    background-color: #9ce0fb;
    border: 1px #37210c solid;
}

.item .mark .bt {
    font-size: 20px;
}